<div class="your-question chat">
  <p><%= @question %></p>
  <p>-You </p>
</div>
<div class="answer chat">
  <p><%= @answer %></p>
  <p>-Your coach</p>
</div>

<%= link_to 'Ask new question', 'http://localhost:3000/ask' %>
